{% extends 'base.html' %}

{% load static %}

{% block title %}
| Вход
{% endblock %}

{% block login %}
<div class = "container mt-5">
        <div class = "col-6 offset-3">
			<form class="form-signin" method="post">
			<div style="text-align: center; display: block;">
				<a href=" /pepe">
			  		<img class="mb-4" src="{% static 'files/folder_logo_black.png' %}" width="96">
				</a>
			</div>
			  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Пожалуйста, авторизуйтесь</h1>
			{% csrf_token %}
			{% for field in form %}
            	<h5>{{ field.label }}</h5>
            	{{ field }}<br>
			{% endfor %}
			  <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button><br>
			  </div>
		</form>
	</div>
</div>


{% endblock %}